In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, neighbors
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split

In [3]:
filename = '/content/drive/MyDrive/CODING DOJO/Códigos/Semana 5/abalone.csv'
df = pd.read_csv(filename, header=None)
df.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [4]:
df.columns=['Sex', 'Lenght', 'Diameter', 'Height', 'whole_weight', 'shucked_weight', 'viscera_weight', 'shell_weight', 'rings']
df.head()

  Sex  Lenght  Diameter  ...  viscera_weight  shell_weight  rings
0   M   0.455     0.365  ...          0.1010         0.150     15
1   M   0.350     0.265  ...          0.0485         0.070      7
2   F   0.530     0.420  ...          0.1415         0.210      9
3   M   0.440     0.365  ...          0.1140         0.155     10
4   I   0.330     0.255  ...          0.0395         0.055      7

[5 rows x 9 columns]

In [5]:
Y=df['rings']
X=df[['Lenght', 'Diameter', 'Height', 'whole_weight', 'shucked_weight', 'viscera_weight', 'shell_weight']]

In [6]:
#Scale Data
scaler = StandardScaler()
# Ajuste en X (asumiendo que tu matriz de características es una matriz NumPy)
scaler.fit(X)
# Transform X
X=scaler.transform(X)

Sin dividir la base en entrenamiento y testeo

In [7]:
knn_reg=KNeighborsRegressor()
knn_reg.fit(X,Y)

KNeighborsRegressor()

In [8]:
age_preds=knn_reg.predict(X)

In [9]:
knn_reg.score(X,Y)

0.6576046052340014

In [10]:
np.sqrt(mean_squared_error(Y, age_preds))

1.8863825357290773

Dividir la base en entranamiento y testeo

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=4)

In [19]:
knn = KNeighborsRegressor(n_neighbors=20)

In [20]:
knn.fit(X_train, Y_train)

KNeighborsRegressor(n_neighbors=20)

In [21]:
knn.score(X_test, Y_test)

0.5236573427000525